[Unit]
Description=Nodexporter
After=network.target
[Service]
WorkingDirectory=/opt/node_exporter-0.18.0.linux-amd64
ExecStart=/opt/node_exporter-0.18.0.linux-amd64/node_exporter
User=nodexporter
Group=nodexporter
Type=simple
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target